# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pycache

# Env ve gizli
.env
.env.local
venv/
.venv/
*.log
*.csv
!signals_log.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.code-workspace

# Telegram
telegram_offset.txt
